<h1>Available Lessons</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Teacher</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.title }}</td>
            <td>{{ lesson.teacher.user.username }}</td>
            <td>{{ lesson.date }}</td>
            <td>
                <a href="{% url 'book_lesson' lesson.id %}">Book Now</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
